$playercolour1: goldenrod;
$playercolour2: firebrick;
$playercolour3: antiquewhite;
$playercolour4: royalblue;

body {
    padding-bottom: 180px;
}

header {
    background-color: whitesmoke;
}

.playerheader {
    padding: 10px 5px 10px 10px;
    margin: 0px 5px 10px 10px;
    border-left-width: 4px;
    color: black;
    font-size: large;
    border-radius: 15px;

    a {
        font-size: larger;
        font-weight: bold;
    }
}

.playerheader1 {
    @extend .playerheader;
    background-color: $playercolour1;
}

.playerheader2 {
    @extend .playerheader;
    background-color: $playercolour2;
}

.playerheader3 {
    @extend .playerheader;
    background-color: $playercolour3;
}

.playerheader4 {
    @extend .playerheader;
    background-color: $playercolour4;
}

.playercard1 {
    color: $playercolour1;
    background-color: black;
}

.playercard2 {
    color: $playercolour2;
    background-color: black;
}

.playercard3 {
    color: $playercolour3;
    background-color: black;
}

.playercard4 {
    color: $playercolour4;
    background-color: black;
}

.footerstyle {
    background-color: whitesmoke;
    //margin: 10px;
    //border-radius: 15px;
}

.header1 {
    font-size: larger;
    font-weight: bold;
}

.nextbutton {
    margin-left: 50px;
    margin-right: 50px;

    width: 100px;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--bs-white);
    --bs-tooltip-color: var(--bs-black);
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 16px Arial, sans-serif;
}

.numberCircleSelected {
    @extend .numberCircle;
    background: black;
    color: white;
}